<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{PageTitle}}</title>

    <meta name="description" content="@(ViewBag.Description ?? String.Empty)">
    <meta name="author" content="Daniel Gilbert">

    <meta property="og:title" content="{{PageTitle}} - g5t.de">
    <meta property="og:description" content="@ViewBag.SocialMediaDescription">
    <meta property="og:image" content="@(Url.FullURL("~/img/g5t_de.jpg"))">
    <meta property="og:locale" content="en">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="@(Url.FullURL("~/" + (string)ViewBag.Path))">

    <!-- Core CSS -->
    <!-- CSS for users with dark mode -->
    <link rel="stylesheet" href="{{WebsiteRoot}}/css/awsm_theme_black.min.css" media="(prefers-color-scheme: dark)">

    <!-- CSS for users with light mode -->
    <link rel="stylesheet" href="{{WebsiteRoot}}/css/awsm_theme_white.min.css" media="(prefers-color-scheme: light)">
    <link href="{{WebsiteRoot}}/css/main.css" rel="stylesheet" />
    <link href="{{WebsiteRoot}}/css/print.css" media="print" rel="stylesheet" />

</head>
<body>
    <!-- Begin page content -->
    {% renderbody %}

    <footer>
       <span>{{CopyrightFooter | raw}} | v. @AppVersionService.Version </span>
    </footer>
</body>
</html>