<header>
    <h1>{{ PageHeader }}</h1>
    @{ var last = Model.Ancestors.LastOrDefault(); }
    @if (last != null)
    {
        <nav>
            <ul class="breadcrumb">
                <li><a href="/">home</a></li>
                @foreach (var ancestor in Model.Ancestors.Take(Model.Ancestors.Count - 1))
                {
                    <li><a href="/@ancestor.Url/">@ancestor.Name</a></li>
                }
                <li>@last.Name</li>
            </ul>
        </nav>
    }
    else
    {
        <nav>
            <ul class="breadcrumb">
                <li>home</li>
            </ul>
        </nav>
    }
</header>
<main>
    <nav>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>

                {% for directory in Directories %}
                <tr>
                    <td>
                        <a href="{{WebsiteRoot}}/{{directory.Name}}"><span>{{directory.Name}}</span></a>
                    </td>
                    <td>-</td>
                    <td>{{directory.LastModified}}</td>
                </tr>
                {% endfor %}
                {% for file in Files %}
                <tr>
                    <td>
                        <a href="/@file.Url">
                            <span class="file-name">{{file.Name}}</span>
                        </a>
                    </td>
                    <td>{{file.Length}}</td>
                    <td>{{file.LastModified}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </nav>
    <article>
        @Html.Raw(@Model.ReadmeFile.Content)
    </article>
</main>